<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class='container'>
    <h2><i>File Upload Service Authorization</i></h2>
    <form action="auth/login" enctype="multipart/form-data" id="form" method="POST">
        <div>
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>