<!DOCTYPE html>
<html>
<head>
<style>
	.container{
	height: 400px;
	width: 800px;
	background-color: blue;
	margin-top: 12%;
	margin-left: 25%;
	color: white;
	}
	.container h2{
	font-size: 40px;
	text-align: center;

	}
	.off{
	font-size: 25px;
	margin-left: 23%;
	color: grey;
	background-color: ;
	}
	.on{
	font-size: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top: 20px; }
</style>
</head>
<body>

<div class="container">
	<h2><i>File Upload Service</i></h2>
	<form action="store" id="form" method="GET">
	<input class="off" type="file" name="myFile" /><br />

	<input style="margin-left: 250px;" class="on" id=" submit" type="submit" /></div>
</div>
	</form>
</div>

</body>
</html>
